<Config
  title='Danny van der Jagt'
/>

<Navigation light={false} background={false}/>

<HomepageHeader
  image='/assets/images/default-header.jpg'/>
  
<Content>
  <Title title='My latest projects' subtitle='From idea to finsished product.'/>
</Content>

<Showcase/>


<br/><br/><br/><br/>
<Line/>
<div style={{textAlign: 'center'}}>
<br/><br/>
    <Button>Load more</Button>
    <br/><br/>
    or
    <br/><br/>
    Let's do a project together!
    <br/><br/><br/><br/>
</div>


<Line/>
<SocialMediaBar/>
<Line/>

<Me/>

<Footer background='/assets/images/default-header.jpg'/>