<Config
  title='Danny van der Jagt'
/>

<Navigation light={false} background={false}/>

<HomepageHeader
  image='/assets/images/header-1000-compressor.jpg'/>


<Content>
  <Title title='My latest projects' subtitle='From idea to finsished product.'/>
</Content>
  <div className='tile-container'>
    
    <ProjectTile size={1}>1</ProjectTile>
    <ProjectTile size={2}>2</ProjectTile>
    <ProjectTile size={2}>3</ProjectTile>
    <ProjectTile size={1}>4</ProjectTile>
    <ProjectTile size={2}>5</ProjectTile>
    <ProjectTile size={1}>6</ProjectTile>
    <ProjectTile size={1}>7</ProjectTile>


  </div>


