<header>

	<!-- Logo -->
	<div class='logo'>
		<a href='http://dannyvanderjagt.nl'>
			<img src='logo.svg'/>
		</a>
	</div>
	<!-- End:Logo -->
	
	<!-- Navigation -->
	<navigation>
		<div class="item">
			<a href='/blog'>
				Blog
			</a>
		</div>
		<div class="item">
			<a href='/projects'>
				Projects
			</a>t
		</div>
		<div class="item">
			<a href='me'>
				About me
			</a>
		</div>
	</navigation>
	<!-- End:Navigation -->
	
	<!-- Social Media -->
	<div class='socialmedia'>
		<div class="item">
			<a href='{$ accounts.twitter $}'>
				<img src="twitter.svg"/>
			</a>
		</div>
		<div class="item">
			<a href='{$ accounts.github $}'>
				<img src="github.svg" alt="">
			</a>
		</div>
	</div>
	<!-- End:Social Media -->

</header>