.tile-container{
  margin: 0px auto;
  width: 100%;
  text-align: center;

  box-sizing: border-box;

  -webkit-column-count: 1;
  -webkit-column-gap: 0;

  @media (max-width: 540px) {
    -webkit-column-count: 1;
    // width: 320px;
    width: 100%;
  }
  @media (min-width:540px) and (max-width: 820px) {
    -webkit-column-count: 2;
     width: 540px;
  }
  @media (min-width: 820px) {
    -webkit-column-count: 3;
    width: 820px;
  }
}

.project-tile{
  width: 250px;
  margin: 10px;
  background: white;
      max-width: 300px;
  background-size: 100%;
  background-position: center center;
  border: 2px solid rgba(0, 0, 0, 0.1);

  display: inline-block;
  color: rgba(0,0,0,.8);
  text-align: center;

  &.no-border{
    border: none;
  }

  &.mode-light{
    color: white;

    &  .category{
      border-color: white;
    }
  }

  &  .category{
    line-height: 27px;
    border-bottom: 1px solid rgba(0,0,0,.8);
    margin: 20px 0px;
    display: inline-block;
    padding: 0px 0px 5px 0px;
    font-size: 12px;
  }

  &  .button{
    margin-bottom: 30px;
  }
  
  &  .text{
    &  .title{
      font-size: 20px;
      text-align: left;
      margin: 20px 20px 0px 20px;
    }  
  
    &  .subtitle{
      font-size: 15px;
      text-align: left;
      margin: 10px 20px 20px 20px;
      opacity: .8;
    }
  }

  @media (max-width: 540px) {
    width: 80%;
  }
  @media (min-width:540px) and (max-width: 820px) {
     width: default;
  }
  @media (min-width: 820px) {
    width: default;
  }
}