<Config
  title='Danny van der Jagt'
/>

<Navigation light={false} background={false}/>
<Header image="/assets/images/default-header.jpg"/>
<img className='me-image' src='/assets/images/me.jpg'/>
   
<div className='me-title-container'>
  <div className='me-title'>Danny van der Jagt</div>
  <div className="me-subtitle">Front-end developer</div>
  <div className="me-born">Born: 15 March 1993</div>
</div>

<Content>

  <Title title='Online presents' description='Check out all my work here!'/>
  <SocialMediaBar/>


  <Title title='Skills and tools' description='I love to learn and use great tools.'/>


  <SkillsCategory 
    title='Prototyping'
    icon='/assets/pages/me/prototyping.png'
    description='Animations and thoughts'
    button='See my work'
    link='/projects'>

    <SkillsRow
      title='Principle for Mac'
      icon='/assets/icons/principleformac.png'
      points={3}
      since='2015'
      experience='I know my way around but I am still learning 
to create more advanced animations.'/>

     <SkillsRow
          title='Invision'
          icon='/assets/icons/invision.svg'
          points={2}
          since='2015'
          experience='I have used it a few times
for website prototypes.'/>


  </SkillsCategory>

   <SkillsCategory 
      title='Photography'
      icon='/assets/pages/me/photography.png'
      description='Stills and Beautifull moments.'
      button='See my work'
      link='/projects'>

      <SkillsRow
        title='Adobe Lightroom'
        icon='/assets/icons/lightroom.png'
        points={4}
        since='2012'
        experience='I use Lightroom for serveral years now and I use it to
color correct and organise my photos.'/>

       <SkillsRow
            title='Adobe Photoshop'
            icon='/assets/icons/photoshop.png'
            points={3}
            since='2013'
            experience='I use Photoshop only for my photographs, not
for design. I know my way around the photo 
filters.'/>

        <SkillsRow
            title='500px'
            icon='/assets/icons/500px.svg'
            points={3}
            since='2015'
            experience='I love 500px for the insperation, the 
community and to share share my photographs.'/>


    </SkillsCategory>


     <SkillsCategory 
      title='Design'
      icon='/assets/pages/me/design.png'
      description='Pixels and white space'
      button='See my work'
      link='/projects'>

      <SkillsRow
        title='Adobe Illustrator'
        icon='/assets/icons/illustrator.png'
        points={4}
        since='2012'
        experience='I have used Illustrator as my main app for about 3 years but I switched to Sketch for UI and simple illustartions.'/>

       <SkillsRow
            title='Sketch'
            icon='/assets/icons/sketch.png'
            points={3}
            since='2015'
            experience='I know the basic but I am still
discovering all the features and plugins Sketch offers.'/>

        <SkillsRow
            title='Dribbble'
            icon='/assets/icons/dribbble.png'
            points={4}
            since='2015'
            experience='I love Dribbble for all the creative people. 
It is one of my sources for insperation when
it comes to design.'/>

        <SkillsRow
            title='Spectrum'
            icon='/assets/icons/spectrum.png'
            points={5}
            since='2015'
            experience='Spectrum is a tool to create and store color pallets and I use it for almost all my projects.'/>

    </SkillsCategory>

    <SkillsCategory 
      title='Internet of Things'
      icon='/assets/pages/me/iot.png'
      description='Hardware connected to the internet!'
      button='See my work'
      link='/projects'>

      <SkillsRow
        title='Arduino'
        icon='/assets/icons/arduino.png'
        points={2}
        since='2015'
        experience='I bought the Arduino because of all the 
awesome projects I saw on Twitter.  I use
the Arduino mostly for fun little side projects.'/>

       <SkillsRow
            title='Raspberry Pi'
            icon='/assets/icons/raspberry.png'
            points={3}
            since='2015'
            experience='I played around with the Raspberry and used it for a while as my personal Node Js server.'/>

    </SkillsCategory>

     <SkillsCategory 
      title='Coding'
      icon='/assets/pages/me/coding.png'
      description='Hardware connected to the internet!'
      button='See my work'
      link='/projects'>

      <SkillsRow
        title='Html 5'
        icon='/assets/icons/html.png'
        points={4}
        since='2013'
        experience='I have a very decent level of Html knowledge and ofcource I always write valid Html!'/>

       <SkillsRow
          title='Css 3'
          icon='/assets/icons/css.png'
          points={4}
          since='2013'
          experience='I am very comfortable with css. Check out my codepen profile for my latests css projects!'/>

       <SkillsRow
          title='Sass'
          icon='/assets/icons/sass.png'
          points={3}
          since='2015'
          experience='I use Sass in all my css projects and I love the features it offers.'/>

       <SkillsRow
          title='Github'
          icon='/assets/icons/github.svg'
          points={4}
          since='2014'
          experience='Github is the way to go for version control, 
communities and awesome projects. I have contributed to a few open source repositories.'/>
    
      <SkillsRow
          title='Php'
          icon='/assets/icons/php.png'
          points={2}
          since='2013'
          experience='I started with PHP but I lost some of my knowledge with the years. I know the basics of PHP including OOP and 
the basics of Laravel.'/>
        <SkillsRow
          title='Java'
          icon='/assets/icons/java.png'
          points={2}
          since='2013'
          experience='I have used Java for a few school assignments.
I only know the basics.'/>
        <SkillsRow
          title='C-Sharp'
          icon='/assets/icons/csharp.png'
          points={2}
          since='2013'
          experience='I have used C-Sharp in a few school assignments 
and I also created a simple window 8 game.'/>
        <SkillsRow
          title='Objective-C'
          icon='/assets/icons/objectivec.png'
          points={2}
          since='2015'
          experience='I have used Objective-C to solve React-Native 
issues but I have never created or worked on an app!'/>

        <SkillsRow
          title='Javascript'
          icon='/assets/icons/javascript.png'
          points={5}
          since='2014'
          experience='Javascript is my favourite language. I have 
created serveral libraries and projects! I am also up-to-date with Ecmascript 2015.'/>

       <SkillsRow
          title='Node Js'
          icon='/assets/icons/nodejs.png'
          points={5}
          since='2014'
          experience='Javascript is my favourite language. I have 
created serveral libraries and projects! I am also up-to-date with Ecmascript 2015.'/>

       <SkillsRow
          title='React'
          icon='/assets/icons/react.png'
          points={4}
          since='2015'
          experience='I love React for it’s components and style.
I have used React in serveral projects and in
some cases extended it functionality.'/>

        <SkillsRow
          title='React Native'
          icon='/assets/icons/reactnative.png'
          points={4}
          since='2015'
          experience='I have contributed to source code of React
Native.  And I have written some articles and 
tutorials about React Native.'/>

        <SkillsRow
          title='Mongodb'
          icon='/assets/icons/mongodb.png'
          points={5}
          since='2015'
          experience='I have used Mongodb together width NodeJS
in some personal projects.'/>

        <SkillsRow
          title='Sql'
          icon='/assets/icons/sql.png'
          points={5}
          since='2014'
          experience='SQL was the first database I learned to use. 
I know the basic SQL statements and joints.'/>

    </SkillsCategory>

    <div className='others-title'>I am have played with / used these too:</div>
    <div className='others'>
      <img src='/assets/icons/webpack.png'/>
      <img src='/assets/icons/gulp.png'/>
      <img src='/assets/icons/grunt.png'/>
      <img src='/assets/icons/sass.png'/>
      <img src='/assets/icons/compass.png'/>
      <img src='/assets/icons/codepen.png'/>
      <img src='/assets/icons/browserify.png'/>
      <img src='/assets/icons/bower.png'/>
      <img src='/assets/icons/phonegap.png'/>
      <img src='/assets/icons/angular.png'/>
      <img src='/assets/icons/backbone.png'/>
      <img src='/assets/icons/modernizr.png'/>
      <img src='/assets/icons/mocha.png'/>
      <img src='/assets/icons/chai.png'/>
      <img src='/assets/icons/forever.png'/>
      <img src='/assets/icons/npm.png'/>
      <img src='/assets/icons/express.png'/>
      <img src='/assets/icons/underscore.png'/>
    </div>


</Content>



<Footer background='/assets/images/default-header.jpg'/>