#navigation{

  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;

  text-align: center;
  transition: all .2s;
  color: white;

  &.mode-light{
    background: rgba(255, 255, 255, .9);
    color: black;
    
    .icon{
      fill: black;
    }
    
  }

  &.mode-dark{
    background: rgba(0, 0, 0, .5);
    color: white;

    .icon{
      fill: white;
    }
  }

  &.no-background{
    background: none;
    border: none;
  }

  & > .logo{
    display: inline-block;
    float: left;
    margin-left: 10px;

    & > a > img{
      display: block;
      margin: 10px;
      width: 25px;
    }
  }

  .list{
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }

  & > .navigation{
    display: inline-block;
    margin-right: -126px;
    & > ul{
      & > li{
        display: inline-block;
        margin: 15px 10px;
        font-size: 14px;
      }
    }
  }

  & > .links{
    display: inline-block;
    float: right;
    margin-right: 10px;

    & > li{
      display: inline-block;
      margin: 15px 5px;

      & > a > span > svg{
        height: 15px;
      }
    }   
  }

  @media (max-width: 600px) {
    & > .links {
      display: none;
    }
    & > .navigation{
      margin-right: 0px;
    }
  }
}