body > .footer{
  width: 100%;
  min-height: 10%;

  background-position: bottom center;
  background-size: 100%;
  margin-top: 40px;
  opacity: .8;

  box-sizing: border-box;
  text-align: center;
  overflow: hidden;

  &.with-tiles{
    @media (max-width: 550px) {
      background-size: auto 100%;
    }

    & .project-tile{
      border: 5px solid white;
      background: rgba(0,0,0,.4);
      height: 300px !important;
      margin: 20px;
      padding: 0px;
      display: inline-table;

     & .text{
        height: 40%;
      }

      @media (max-width: 910px) {
        &:nth-child(3){
          display: none;
        }
      }
      @media (max-width: 610px) {
        &:nth-child(2){
          display: none;
        }
      }
    }
  }
}